!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nischay Mohan, Engineer{% endblock %}</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/projects.css">    
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="projects.html">Projects</a>
    </nav>
    
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>